html {
  scroll-behavior: smooth;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.tools-container {
  padding: 0px;
  margin: 0px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-success-modified {
  background-color:white; 
  border-color:#FF4F1F; 
  border-radius:25px; 
  color: #FF4F1F; 
  border-width: 2px;
  user-select: unset;
}

.btn-success-modified.hover,.btn-success-modified:hover {
  background-color:#FF4F1F; 
  border-color:#FF4F1F; 
  border-radius:25px; 
  color: #FDFDFD; 
  border-width: 2px
}


.btn.btn-primary.btn-lg {
  background-color:#FF4F1F; 
  border-color:#FF4F1F; 
  border-radius:25px; 
  color: #FDFDFD; 
  border-width: 2px
}

.btn.btn-primary:hover {
  background-color:white; 
  border-color:#FF4F1F; 
  border-radius:25px; 
  color: #FF4F1F; 
  border-width: 2px
}

#btnUninstall {
  color:red;
}

.display-3 {
  color: white;
} 

.jumbotron {
  background-image: linear-gradient( to right, #5D3D5D, #FF4F1F);
}

a {
  color: #FF4F1F; 
}

a:hover {
  color: #FF4F1F; 
}

.topnav {
  background-color: #f2f2f2;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

button :focus {
  outline: 0;
}

.sidebar {
  display: block;
  height:100%;
  width:200px;
  background-color:#fff;
  position: absolute!important;
  z-index:1;
  overflow:auto
}

.bar-block .bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0
}

.bar-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.tool-iframe {
  width: 100%;
  height: 800px;
}